.loginBg{
  background-image: url(../images/login.jpg);
  background-repeat: no-repeat;
  @media (min-width: 768px){
    top: 0; 
    bottom: 0;
    position: absolute;
  }
}

.loginHeader{
  @media (min-width: 768px){
    position: absolute;
    z-index: $zindex-sticky;
  }
}

.loginFooter{
  @media (min-width: 768px){
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (min-width: 992px){
    left: 0;
    transform: translateX(90%);
  }
}