.profile-img{
  width: 24px;
  height: 24px;
  background-image: url(../images/profile.jpg);
}

.userImg{
  width: 64px;
  height: 64px;
}

.card-img-top{
  height: 226px;
  @media (min-width:768px){
    width: 271px;
    height: 186px;
  }
}