// .dropdownIcon.change{
//   transform: translateY(180deg);
// }

.dropdown-btn {
  .dropdownIcon {
    transform: rotate(0deg);
    transition: all 0.5s;
    &.change {
      transform: rotate(180deg);
    }
  }
}