<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700;800&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="container">
      <nav class="navbar align-items-center py-3 px-0">
        <a class="btn border-0 pl-0 d-md-none" href="#" role="button">
            <i class="material-icons text-black">dehaze</i>
          </a>
          <h1 class="m-0"><a class="logo d-block" href="index.html">Aloha</a></h1>
          <ul class="list-unstyled d-flex align-items-center mb-0">
            <li class="mr-md-6">
              <div class="dropdown d-none d-md-block">
                <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">language</i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item font-family-Roboto" href="#">Chinese</a>
                  <a class="dropdown-item font-family-Roboto" href="#">English</a>
                </div>
              </div>
            </li>
            <li class="mr-md-6">
              <a class="nav-link font-family-Roboto text-secondary d-none d-md-block" href="#">Sign Up</a>
            </li>
            <li class="mr-md-6">
              <a class="nav-link font-family-Roboto text-secondary" href="login.html">Login</a>
            </li>
          </ul>
      </nav>
    </header>

    <%- contents %>

    <footer class="container">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between py-4 w-lg-70 mx-auto">
        <ul class="d-flex order-md-2 mb-3 mb-md-0">
          <li><a href="#" class="text-gray-dark">FAQs</a></li>
          <li class="mx-4"><a href="#" class="text-gray-dark">Terms of use</a></li>
          <li><a href="#" class="text-gray-dark">Privacy policy</a></li>
        </ul>
        <div class="order-md-1 mr-lg-7">
          <p class="text-gray-dark">© 2020 ALOHA, Inc. All rights reserved.</p>
        </div> 
      </div>
    </footer>




    <script src="./assets/js/vendors.js"></script>

    
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html> 